.box{
  height: 100px;
  border-bottom: 1px solid rgb(225, 225, 226);
  padding: 10px 20px;
  cursor: pointer;
}

.box:hover{
  background: rgb(225,225,226);
}

.box img{
  height: 80px;
  width: 60px;
}

.box p{
  float: right;
  text-align: left;
  width: calc(100% - 80px);
  height: 80px;
}

.box p span:first-child{
  font-size: 1.5rem;
  font-weight: bold;
}

.box p span:last-child{
  font-size: 1.2rem;
  color:rgb(182,182,182);
}