:local {
  @font-face {
    font-family: 'XHei-Believe';
    src: url('/assets/fonts/XHei-Believe.woff') format('woff');
  }
  @font-face {
    font-family: 'XHei-Believe';
    src: url('/assets/fonts/XHei-Believe-Bold.woff') format('woff');
    font-weight: bold;
  }
  @font-face {
    font-family: 'XHei-Classical';
    src: url('/assets/fonts/XHei-Classical.woff') format('woff');
  }
  @font-face {
    font-family: 'XHei-Classical';
    src: url('/assets/fonts/XHei-Classical-Bold.woff') format('woff');
    font-weight: bold;
  }
  @font-face {
    font-family: 'XSung-Clear';
    src: url('/assets/fonts/XSung-Clear.woff') format('woff');
  }
  @font-face {
    font-family: 'XSung-Clear';
    src: url('/assets/fonts/XSung-Clear-Bold.woff') format('woff');
    font-weight: bold;
  }
  @font-face {
    font-family: 'XSung-Classical';
    src: url('/assets/fonts/XSung-Classical.woff') format('woff');
  }
  @font-face {
    font-family: 'XSung-Classical';
    src: url('/assets/fonts/XSung-Classical-Bold.woff') format('woff');
    font-weight: bold;
  }

  .header{
    background: rgb(25,25,25);
    padding:0px 10px;
    position: fixed;
    width: 100vw;
    top: 0px;
    z-index: 1;
  }
  
  .head-font-base{
    font-size: 0.95rem;
    color: white;
    opacity: 0.6;
    float: right;
  }

  .origin{
    .head-font-base;
    margin-right: 20px;
  }

  .footer{
    background: rgb(25,25,25);
    padding:10px 20px;
    position: fixed;
    width: 100vw;
    bottom: 0px;
    display: flex;
    color: white;
    text-align: center;
    justify-content: space-around;
    z-index: 1;
    i {
      color: white;
      font-size: 1.2rem;
    }

    .setting{
      outline: none;
      & > div{
        width: 100vw;
        height: 100px;
        background-color: rgba(25, 25, 25, 0.8);
        position: absolute;
        left: 0px;
        top: -100px;
        padding: 10px 20px;
        div{
          text-align: left;
          padding: 5px 0px;
          span{
            margin-right: 20px;
          }
        }

        .font{
          font-size: 1.2rem;
        }

        .color{
          i{
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            margin-right: 20px;
          }
        }
        .flowDirection {
          margin: 0;
          svg{
            fill: white;
          }
	}
	.lineHeight,.fontWeight {
          svg{
            fill: white;
          }
          span{
            margin: 0 0 0 20px;
            font-size: 1rem;
          }
        }
      }
    }
    .moreSetting{
      outline: none;
      & > div{
        width: 100vw;
        height: 120px;
        background-color: rgba(25, 25, 25, 0.8);
        position: absolute;
        left: 0px;
        top: -120px;
        padding: 10px 20px;
        font-size: 1rem;
        div{
          padding-left: 20px;
        }
      }
    }
  }

  .icon-base{
    font-size: 1.6rem;
    color:white;
    display: inline-block;
    line-height: 64px;
    height: inherit;
  }

  .pre{
    .icon-base;
    padding-right: 10px;
    float: left;
  }

  .navi{
    margin: 0 auto;
    span,meter{
      position: absolute;
    }
    .up{
      height: 20vh;
      width: 76vw;
      right: 2vw;
      top: 1vh;
    }
    .down{
      height: 20vh;
      width: 76vw;
      left: 2vw;
      bottom: 1vh;
    }
    .left{
      height: 78vh;
      width: 20vw;
      left: 2vw;
      top: 1vh;
    }
    .right{
      height: 78vh;
      width: 20vw;
      right: 2vw;
      bottom: 1vh;
    }
    .battery{
      height: 8px;
      width: 20px;
      bottom: 3px;
      left: 20px;
      &::-webkit-meter-bar{
        background: none;
        border: 1px solid #ccc;
        border-radius: 2px;
      }
      &::-webkit-meter-optimum-value{
        background-color: #ccc;
	background-image: none;
      }
    }
    .pagination{
      bottom: 1px;
      font-size: 0.5rem;
    }
    .clock{
      bottom: 1px;
      right: 20px;
      font-size: 0.5rem;
    }
  }
  .box{
    padding: 0px 20px;
    padding-bottom: 100px;
    font-size: 1.2rem;
    min-height: 100vh;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: pre-line;
  }
  .control{
    font-size: 1.0rem;
    padding: 0px 50px;
    cursor: pointer;
    span:first-child{
      float: left;
    }
    span:last-child{
      float: right;
    }
  }
}

:global {
  .chapterList {
    .ant-modal-footer,
    .ant-modal-header,
    .ant-modal-close{
      display: none;
    }

    .ant-modal-body{
      height: 60vh;
      overflow: scroll;
    }

    p{
      border-bottom: 1px solid rgb(225,225,226);
      font-size: 1.0rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 10px 0px;
    }

    .choosed{
      color: red;
    }
  }
}
